@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

	vertical-align: baseline;
	font-size: 12px;
	font-family: Arial, 돋움, dotum, Geneva, sans-serif, Verdana;
	color: #444444;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 130%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sch_text{background-color:yellow;}
.sch_text_disabled{ime-mode:disabled;}

a:link{color:#444444;text-decoration:none;}
a:visited{color:#444444;text-decoration:none;}
a:active{color:#444444;text-decoration:none;}
a:hover{color:#156ADF;text-decoration:none;}

a.a_news_title:link{color:#000062;text-decoration:none;}
a.a_news_title:visited{color:#000062;text-decoration:none;}
a.a_news_title:active{color:#000062;text-decoration:none;}
a.a_news_title:hover{color:#0000dd;text-decoration:underline;}

a.a_news_name:link{color:#d17575;text-decoration:none;}
a.a_news_name:visited{color:#d17575;text-decoration:none;}
a.a_news_name:active{color:#d17575;text-decoration:none;}
a.a_news_name:hover{color:#ff7575;text-decoration:underline;}

a.a_news_group:link{color:#808080;text-decoration:none;}
a.a_news_group:visited{color:#808080;text-decoration:none;}
a.a_news_group:active{color:#808080;text-decoration:none;}
a.a_news_group:hover{color:#000000;text-decoration:underline;}

a.a_news_content:link{color:#606060;text-decoration:none;}
a.a_news_content:visited{color:#606060;text-decoration:none;}
a.a_news_content:active{color:#606060;text-decoration:none;}
a.a_news_content:hover{color:#000000;text-decoration:underline;}

a.a_email:link{color:#6798da;text-decoration:none;}
a.a_email:visited{color:#6798da;text-decoration:none;}
a.a_email:active{color:#6798da;text-decoration:none;}
a.a_email:hover{color:#0748ea;text-decoration:underline;}

#common_top{width:930px;height:108px;clear:both;margin:auto;vertical-align:bottom;background:url(../images/common/bg_top1.png) no-repeat 0px 23px;}
#common_main{width:930px;clear:both;margin:auto;}
	#common_main #common_center{float:left;width:620px;margin-top:10px;}
	#common_main #common_right{float:left;width:300px;margin-left:10px;margin-top:10px;}
#common_btm_banner{width:930px;height:74px;clear:both;margin:auto;padding-top:10px;}
#common_btm{width:930px;height:100px;clear:both;margin:auto;background:url(../images/common/bg_bottom.png) repeat-x 0px 10px;}

#news_leftmenu{float:left;width:140px;padding-top:10px;}
#news_leftmenu dt{float:left;width:140px;}
#news_leftmenu dd{float:left;width:140px;height:224px;background:url(../images/news/leftmenu_menus.png) no-repeat;}
#news_leftmenu ul{float:left;width:140px;height:216px;padding-top:4px;}
#news_leftmenu li{float:left;width:127px;height:19px;padding-left:7px;padding-top:5px;cursor:pointer;}
#news_leftmenu a.out{display:none;}

#news_leftvod{float:left;width:140px;padding-top:15px;}
#news_leftvod dt{float:left;width:140px;}
#news_leftvod dd{float:left;width:138px;height:134px;border-width:0px 1px 0px 1px;border-style:solid;border-color:#b0c0d4;}
#news_leftvod ul{float:left;width:100px;padding-top:10px;}
#news_leftvod li{float:left;width:100px;height:19px;margin-left:30px;margin-top:5px;padding-left:10px;background:url(../images/news/news_vod_arrow.png) no-repeat 0px 3px;}
#news_leftvod a.bold{font-weight:bold;}

#news_leftext{float:left;width:140px;padding-top:15px;}
#news_leftext dt{float:left;width:140px;}
#news_leftext dd{float:left;width:138px;border-width:0px 1px 0px 1px;border-style:solid;border-color:#b0c0d4;}
#news_leftext ul{float:left;width:100px;padding-top:5px;}
#news_leftext li{float:left;width:100px;height:19px;margin-left:30px;margin-top:5px;padding-left:10px;background:url(../images/news/news_ext_arrow.png) no-repeat 0px 3px;}

#common_btm_banner ul{width:880px;height:74px;margin:auto;}
#common_btm_banner li{float:left;width:180px;height:54px;padding:10px 20px 10px 20px;}

#common_btm .btm_link{}
#common_btm .btm_vertical{width:16px;text-align:center;}
#common_btm li{float:left;width:650px;font-size:8pt;color:#808080;}
#common_btm a{font-size:8pt;}
#common_btm a:link{color:#606060;text-decoration:none;}
#common_btm a:visited{color:#606060;text-decoration:none;}
#common_btm a:active{color:#606060;text-decoration:none;}
#common_btm a:hover{color:#2959A6;text-decoration:underline;}

#news_top{width:930px;height:90px;clear:both;margin:auto;}

#news_top_link{float:left;width:930px;height:24px;color:#1150b2;}
	#news_top_link ul{float:right;margin-right:10px;}
	#news_top_link li{float:left;}
	#news_top_link .top_link{padding-top:5px;}
	#news_top_link .top_vertical{width:15px;padding-top:5px;color:#888888;font-size:7pt;text-align:center;}

#news_top_logo{float:left;width:930px;height:66px;}
#news_top_logo li{float:left;padding-left:10px;}

#news_top_menu{width:930px;height:37px;margin:auto;background:url(../images/news/eng_news_menu_bg.png) no-repeat;}
#news_top_menu dl{width:930px;height:32px;padding-top:2px;}
#news_top_menu dt{float:left;height:32px;margin-left:2px;cursor:pointer;}
#news_top_menu dt img{display:none;}
#news_top_menu dt ul{position:absolute;top:124px;padding:10px 10px 10px 15px;border-top-width:3px;border-top-style:solid;display:none;}
#news_top_menu dt li{float:left;padding-left:10px;padding-right:10px;}
#news_top_menu dd{float:left;width:340px;height:32px;}
#top_search_form{float:right;width:320px;height:28px;margin-top:3px;}
#top_search_form li{float:left;}
#top_search_form #search_type{padding-top:4px;}
#top_search_form .schText{width:160px;height:18px;margin-top:3px;margin-left:2px;border:1px solid #5C7594;}
#top_search_form #schBtn{padding-left:5px;padding-top:5px;}

#news_menu_title{float:left;width:740px;height:20px;margin-top:15px;}

#news_hot{float:left;width:620px;}
	#news_hot_top{float:left;width:620px;height:20px;margin-top:5px;border-bottom:1px solid #EAEAEA;background:url(../images/news/news_title_bg.png) repeat-x;}
	#news_hot_body{float:left;width:620px;padding-top:5px;}
	#news_hot_body li{float:left;}
	#news_hot_body .ul_news_image{float:left;width:248px;height:140px;padding:5px;}
	#news_hot_body .ul_news_image li{width:248px;height:140px;}
	#news_hot_body .ul_news_text{float:left;width:352px;margin-left:10px;margin-top:10px;}
	#news_hot_body .ul_news_text li{width:342px;padding-left:10px;padding-bottom:10px;background:url(../images/news/bullet_news01.png) no-repeat 2px 5px;}
	#news_hot_body .ul_news_text dt{float:left;width:332px;line-height:140%;}
	#news_hot_body .ul_news_text dt a{font-size:16px;font-weight:bold;}

.news_list{float:left;width:620px;margin-bottom:10px;margin-top:10px;}
.news_list_top{float:left;width:620px;height:20px;margin-top:5px;border-bottom:1px solid #EAEAEA;background:url(../images/news/news_title_bg.png) repeat-x;}
.news_group_title{float:left;width:570px;height:20px;}
.news_group_more{float:right;width:50px;height:20px;}
.news_group_more img{margin-top:3px;margin-right:10px;}
.news_list_body{float:left;width:615px;margin-left:5px;margin-top:5px;}
	.news_list_body li{float:left;}
	.news_list_body .news_content span{margin-left:10px;color:#909090;}
	.news_list_body .li_news_img{width:615px;margin-bottom:2px;}
	.news_list_body .li_news_img .news_img{float:left;width:100px;height:60px;padding:5px;}
	.news_list_body .li_news_img .news_title{float:left;width:505px;}
	.news_list_body .li_news_img .news_content{float:left;width:495px;padding:5px;}
	.news_list_body .li_news_img dt{float:left;width:415px;}
	.news_list_body .li_news_img dt a{font-size:13px;font-weight:bold;}
	.news_list_body .li_news_img dd{float:left;width:80px;padding-right:5px;text-align:right;}
	
	.news_list_body .li_news_noimg{width:620px;margin-bottom:2px;}
	.news_list_body .li_news_noimg .news_title{float:left;width:620px;}
	.news_list_body .li_news_noimg .news_content{float:left;width:610px;padding:5px;}
	.news_list_body .li_news_noimg dt{float:left;width:525px;}
	.news_list_body .li_news_noimg dt a{font-size:13px;font-weight:bold;}
	.news_list_body .li_news_noimg dd{float:left;width:80px;padding-right:5px;text-align:right;}

/* 뉴스 보기 */
#news_view{float:left;width:620px;margin-bottom:10px;}
	#view_function{float:left;width:610px;margin:10px 5px 5px 5px;}
	#view_function ul{float:right;}
	#view_function li{float:left;margin-right:10px;}
	#view_info{float:left;width:610px;padding:5px;border-width:1px 0px 1px 0px;border-style:solid;border-color:#dddddd;}
		#view_title{float:left;width:610px;padding-top:10px;padding-bottom:10px;font-size:14pt;font-weight:bold;color:#000000;}
		#view_name_date{float:left;width:610px;padding-bottom:10px;color:#999999;}
	#view_content{float:left;width:600px;padding:10px;line-height:150%;word-wrap:break-word;word-break:normal;white-space:normal;font-size:11pt;font-weight:normal;}
	#view_content img{float:left;margin:5px;}
	#view_content_btm{float:left;width:610px;padding:10px 5px 5px 5px;font-size:8pt;font-style:italic;line-height:130%;text-align:right;color:gray;}

#div_print_area{width:0px;height:0px;display:none;}

/* 뉴스 프린트 */
#print_view{float:left;width:620px;margin-bottom:10px;}
	#print_view #view_function{float:left;width:610px;margin:10px 5px 5px 5px;}
	#print_view #view_function dl{float:left;width:610px;height:30px;}
	#print_view #view_function dt{float:left;width:520px;margin-left:5px;}
	#print_view #view_function dd{float:left;margin-right:5px;}
	#print_view #view_info{float:left;width:610px;padding:5px;border-width:1px 0px 1px 0px;border-style:solid;border-color:#dddddd;}
		#print_view #view_title{float:left;width:610px;padding-top:10px;padding-bottom:10px;font-size:12pt;font-weight:bold;color:#000000;}
		#print_view #view_name_date{float:left;width:610px;padding-bottom:10px;color:#999999;}
	#print_view #view_content{float:left;width:600px;padding:10px;line-height:150%;word-wrap:break-word;word-break:break-all;white-space:normal;}
	#print_view #view_content img{float:left;margin:5px;display:none;}
	#print_view #view_btm{float:left;width:610px;padding:5px;border-top:1px solid #dddddd;text-align:center;}
	#print_view #view_btm ul{padding:10px;}

/* 페이징 */
#news_btm_pages{float:left;width:610px;height:30px;}
#ul_news_pages{margin:auto;height:30px;}
	#ul_news_pages td{float:left;}
	#ul_news_pages a{float:left;padding:3px 5px 3px 5px;margin:3px;font-size:10pt;font-weight:bold;text-align:center;}
	#ul_news_pages a:link{color:#444444;text-decoration:none;}
	#ul_news_pages a:visited{color:#444444;text-decoration:none;}
	#ul_news_pages a:active{color:#444444;text-decoration:none;}
	#ul_news_pages a:hover{color:#FF7800;text-decoration:underline;}
	#ul_news_pages div{float:left;padding:3px 5px 3px 5px;margin:3px;font-size:10pt;font-weight:bold;text-align:center;}
	#ul_news_pages .page_curr{border:1px solid #e5e5e5;color:#FF7800;}
	#ul_news_pages .page_prev{border:1px solid #e5e5e5;padding-left:14px;background:url(../images/board/btn_arrow_prev.gif) no-repeat 5px 7px;}
	#ul_news_pages .page_next{border:1px solid #e5e5e5;padding-right:18px;background:url(../images/board/btn_arrow_next.gif) no-repeat 77px 7px;}
	#ul_news_pages .page_link{border:1px solid #ffffff;}
	#ul_news_pages .page_link.over{border-color:#e5e5e5;}

	#news_right_gray{float:left;width:298px;padding-bottom:10px;border-width:1px 1px 1px 1px;border-style:solid;border-color:#DBDBDB;background-color:#FAFAFA;}

#news_search{margin:auto;width:278px;height:24px;margin-top:10px;}
#news_search ul{float:left;width:278px;height:24px;background-color:#303D4D;}
#news_search li{float:left;}
#news_search #search_type{width:59px;padding-left:2px;padding-top:2px;}
#news_search #search_text{width:163px;}
#news_search #search_text input{width:160px;height:16px;margin-top:2px;border:1px solid gray;}
#news_search #search_btn{width:52px;}
#news_search #search_btn input{margin-top:3px}

#news_top_view{margin:auto;width:276px;margin:10px 11px 10px 11px;}
	#news_top_view_top{float:left;width:276px;height:20px;padding-top:20px;}
	#news_top_view_title{float:left;width:120px;height:20px;}
	#news_top_view_more{float:right;width:40px;height:17px;padding-top:3px;}
	.news_top_eng_body{float:left;width:270px;padding:0px 0px 20px 6px;}
	.news_top_eng_body li{float:left;width:263px;padding-left:7px;padding-bottom:5px;
		background:url(../images/news/news_bullet.png) no-repeat 0px 7px;line-height:140%;word-break:normal;}

#news_kctv_about{margin:auto;width:276px;margin:10px 11px 10px 11px;text-align:center;}

#news_invite{margin:auto;width:260px;height:270px;margin:10px 9px 10px 9px;}
	#news_invite_top{float:left;width:260px;height:20px;border-bottom:1px solid #8E8E8E;}
	#news_invite_title{float:left;width:100px;height:20px;}
	#news_invite_more{float:right;width:40px;height:17px;padding-top:3px;}
	#news_invite_body{float:left;width:253px;height:245px;padding-left:5px;padding-top:5px;background-color:#ffffff;border-width:0px 1px 1px 1px;border-style:solid;border-color:#dfdfdf;}
	#news_invite_body li{float:left;width:253px;height:75px;padding-top:5px;}
	#news_invite_body dt{float:left;width:100px;height:75px;}
	#news_invite_body dd{float:left;width:143px;height:65px;padding:5px;line-height:150%;overflow:hidden;}
	
#news_notice{margin:auto;width:280px;margin:15px 9px 10px 19px;}

#news_vodeng{margin:auto;width:280px;margin:10px 9px 10px 9px;}
	#news_vodeng_top{float:left;width:280px;height:20px;padding-top:10px;border-bottom:1px solid #8E8E8E;}
	#news_vodeng_title{float:left;width:126px;height:20px;}
	#news_vodeng_more{float:right;width:46px;height:17px;padding-top:3px;padding-right:4px;}
	#news_vodeng_body{float:left;width:268px;padding-left:10px;padding-top:5px;background-color:#ffffff;border-width:0px 1px 1px 1px;border-style:solid;border-color:#dfdfdf;}
	#news_vodeng_body li{float:left;width:273px;height:90px;padding-top:5px;}
	#news_vodeng_body dt{float:left;width:140px;height:80px;}
	#news_vodeng_body dd{float:left;width:120px;height:70px;padding:5px;line-height:150%;overflow:hidden;}
	#news_vodeng_body span{color:#909090;}

#schedule_table{width:700px;margin:10px;}
#schedule_table caption{text-align:center;padding:5px;font-size:11pt;}
#schedule_table thead th{padding:4px;border-width:1px 1px 1px 1px;border-style:solid;border-color:#CACFDD;background-color:#DFE1EC;}
#schedule_table thead td{padding:4px;border-width:1px 1px 1px 0px;border-style:solid;border-color:#CACFDD;background-color:#DFE1EC;text-align:center;}
#schedule_table tbody th{padding:4px;border-width:0px 1px 1px 1px;border-style:solid;border-color:#CACFDD;}
#schedule_table tbody td{padding:4px;border-width:0px 1px 1px 0px;border-style:solid;border-color:#CACFDD;text-align:center;}
#schedule_table tfoot td{padding:4px;border-width:1px 0px 0px 0px;border-style:solid;border-color:#CACFDD;text-align:right;}

#news_profile{margin-left:10px;margin-top:15px;}
#news_profile .news_profile_sub{float:left;width:740px;height:29px;margin-top:5px;background:url(../images/news/titlebg.png) repeat-x;}
#news_profile .news_profile_sub img{margin-left:10px;margin-top:6px;}
#news_profile .news_profile_list{float:left;width:740px;margin-bottom:10px;}
#news_profile .news_profile_list ul{float:left;}
#news_profile .news_profile_list .profile_box{float:left;width:350px;height:150px;margin:10px;}
	.profile_box .ul_profile{float:left;width:350px;height:150px;}
	.profile_box .profile_image{float:left;width:118px;height:148px;}
	.profile_box .profile_name{float:left;width:220px;height:18px;margin-left:10px;margin-top:10px;margin-bottom:11px;font-size:11pt;font-weight:bold;color:#272C88;border-bottom:1px solid #E6E7E8;}
	.profile_box .profile_name img{position:relative;top:-3px;margin-right:5px;}
	.profile_box .profile_duty{float:left;width:220px;height:24px;margin-left:10px;}
	.profile_box .profile_mail{float:left;width:220px;height:24px;margin-left:10px;}

#news_vod_title{float:left;width:620px;height:20px;margin-top:10px;margin-bottom:5px;border-bottom:1px solid #EAEAEA;background:url(../images/news/news_title_bg.png) repeat-x;}
#news_vod_table{width:620px;padding-top:10px;}
#news_vod_search{width:620px;padding-top:10px;}
#news_vod_search ul{margin:auto;width:280px;height:24px;background-color:#303D4D;}
#news_vod_search li{float:left;}
#news_vod_search #search_type{width:70px;}
#news_vod_search #search_text{width:168px;}
#news_vod_search #search_text input{width:165px;height:16px;margin-top:2px;border:1px solid gray;}
#news_vod_search #search_btn{width:42px;}
#news_vod_search #search_btn input{margin-top:3px}

#news_vod_pages{width:490px;padding-top:10px;}

/* VOD 목록 */
#table_vod_list{}
#table_vod_list .td_img{width:190px;height:100px;padding:5px 5px 5px 10px;}
#table_vod_list .td_content{width:430px;height:58px;padding:10px;vertical-align:top;}
#table_vod_list .ul_content{width:430px;height:58px;}
#table_vod_list .ul_content li{float:left;width:420px;padding-left:10px;background:url(../images/common/bullet_blue.png) no-repeat 2px 5px;}
#table_vod_list .li_title{font-weight:bold;color:#000099;padding-bottom:3px;}
#table_vod_list .li_title span{font-weight:normal;color:#fa6c34;}
#table_vod_list .li_firstdt{padding-bottom:3px;}
#table_vod_list .li_viewcnt img{margin-top:5px;}

#hidden_iframe{width:0px;height:0px;display:none;}