@CHARSET "UTF-8";

#content_top{background:url(../images/company/bg_content_title.jpg) repeat-x;}

#content_main{width:760px;margin-top:10px;}
	#product_main{float:left;width:736px;}
	#product_main .dt_text{float:left;width:700px;margin-top:10px;}
	#product_main .dd_text{float:left;width:700px;margin-left:20px;margin-top:10px;}
	#product_main .product_hori{float:left;width:700px;height:1px;margin-left:20px;margin-top:20px;margin-bottom:10px;background-color:#dce5e8;}
	#product_main dl{float:left;width:720px;margin-left:10px;margin-top:10px;}
	#product_main dt{float:left;width:720px;margin-top:10px;}
	#product_main dd{float:left;width:710px;margin-left:10px;margin-top:10px;line-height:150%;}
	#product_main iframe{width:704px;height:400px;border:3px ridge #e9f1d8;}
	/* DV 온 - 상품소개 */
	.dv_on_intro #product_top{float:left;width:700px;height:174px;}
	.dv_on_intro #product_top_img{float:left;width:258px;height:115px;}
	.dv_on_intro #product_top_menu{float:left;width:432px;height:115px;}
	.dv_on_intro #product_top_menu li{float:left;height:25px;margin-left:5px;margin-top:90px;}
	.dv_on_intro table {margin-left:10px;margin-top:10px;margin-bottom:20px;}
	.dv_on_intro table thead th{height:20px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;}
	.dv_on_intro table tbody th{height:60px;font-weight:bold;text-align:center;vertical-align:middle;background-color:#FAF9F0;border-right:1px solid #cacfdd;border-bottom:1px solid #cacfdd;}
	.dv_on_intro table tbody td{height:60px;text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;}
	.dv_on_intro table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV 온 - 상품요금안내 */
	.dv_on_price #product_top{float:left;width:763px;height:174px;}
	.dv_on_price #product_top_img{float:left;width:258px;height:115px;}
	.dv_on_price #product_top_menu{float:left;width:432px;height:115px;}
	.dv_on_price #product_top_menu li{float:left;height:25px;margin-left:5px;margin-top:90px;}
	.dv_on_price table{margin-left:10px;margin-top:10px;margin-bottom:20px;}
	.dv_on_price table thead th{height:30px;padding-top:9px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;}
	.dv_on_price table tbody th{font-weight:bold;text-align:center;vertical-align:middle;background-color:#FAF9F0;border-right:1px solid #cacfdd;border-bottom:1px solid #cacfdd;}
	.dv_on_price table tbody td{height:25px;padding-top:7px;text-align:center;border-bottom:1px solid #cacfdd;}
	.dv_on_price table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV 온 - 디지털VOD */
	.digital_vod #product_top{float:left;width:661px;height:182px;margin-left:10px;}
	.digital_vod #product_top_img{float:left;width:661px;height:140px;}
	.digital_vod #product_top_menu{float:left;width:661px;height:32px;margin-top:10px;}
	.digital_vod #product_top_menu ul{float:left;margin-left:20px;margin-top:5px;}
	.digital_vod #product_top_menu li{float:left;padding:5px 10px 5px 10px;height:22px;}
	.digital_vod #product_top_menu a.over{font-weight:bold;text-decoration:underline;}
	.digital_vod #product_main{margin-bottom:10px;}
	.digital_vod #product_main .vod_poster{float:left;width:117px;height:180px;margin-left:10px;border:2px solid #f2f2f2;position:relative;}
	.digital_vod #product_main .vod_image{float:left;width:107px;height:150px;margin-left:5px;margin-top:5px;cursor:pointer;}
	.digital_vod #product_main .vod_title{float:left;width:107px;height:20px;margin-top:5px;text-align:center;cursor:pointer;}
	.digital_vod #product_main .vod_poster .vod_detail{width:440px;padding:10px;background-color:#ffffff;border:4px solid #dddddd;position:absolute;z-index:100;display:none;}
	.digital_vod #product_main .vod_poster .vod_detail_img{float:left;width:107px;height:150px;margin:5px;}
	.digital_vod #product_main .vod_poster .vod_detail_info{float:left;width:173px;height:150px;margin:5px;}
	.digital_vod #product_main .vod_poster .vod_defail_title{font-weight:bold;}
	.digital_vod #product_main .vod_poster .vod_defail_close{cursor:pointer;}
	.digital_vod #product_main .vod_poster .vod_detail_info li{float:left;width:310px;padding:3px;margin:0px;}
	.digital_vod #product_main .vod_poster .vod_detail_info dl{float:left;width:310px;padding:0px;margin:0px;}
	.digital_vod #product_main .vod_poster .vod_detail_info dt{float:left;width:65px;padding:0px;margin:0px;}
	.digital_vod #product_main .vod_poster .vod_detail_info dd{float:left;width:245px;padding:0px;margin:0px;}
	.digital_vod #product_main .top_vod_detail{float:left;width:660px;}
	.digital_vod #product_main .top_vod_detail_img{float:left;width:120px;height:170px;margin:5px;padding:5px;border:2px solid #dddddd;}
	.digital_vod #product_main .top_vod_detail_info{float:left;width:505px;padding:5px;}
	.digital_vod #product_main .top_vod_defail_title{font-size:12pt;font-weight:bold;}
	.digital_vod #product_main .top_vod_detail_info li{float:left;width:505px;padding:0px;margin:0px;padding-top:5px;}
	.digital_vod #product_main .top_vod_detail_info dl{float:left;width:505px;padding:0px;margin:0px;}
	.digital_vod #product_main .top_vod_detail_info dt{float:left;width:65px;padding:0px;margin:0px;}
	.digital_vod #product_main .top_vod_detail_info dd{float:left;width:440px;padding:0px;margin:0px;}
	/* DV 온 - 음악방송 */
	.dv_on_music #product_top{float:left;width:763px;height:115px;}
	.dv_on_music #product_top_img{float:left;width:258px;height:115px;}
	.dv_on_music #product_top_menu{float:left;width:432px;height:115px;}
	.dv_on_music #product_top_menu li{float:left;height:25px;margin-left:5px;margin-top:90px;}
	.dv_on_music table{width:680px;margin-left:10px;margin-bottom:20px;}
	.dv_on_music table thead th{height:20px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;}
	.dv_on_music table tbody th{width:280px;font-weight:bold;text-align:center;vertical-align:middle;border-right:1px solid #cacfdd;border-bottom:1px solid #cacfdd;}
	.dv_on_music table tbody td{width:400px;height:20px;padding-top:7px;text-align:center;border-bottom:1px solid #cacfdd;}
	.dv_on_music table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV 온 - 데이터방송 */
	.dv_on_data #product_top{float:left;width:763px;height:115px;}
	.dv_on_data #product_top_img{float:left;width:258px;height:115px;}
	.dv_on_data #product_top_menu{float:left;width:432px;height:115px;}
	.dv_on_data #product_top_menu li{float:left;height:25px;margin-left:5px;margin-top:90px;}
	.dv_on_data ul{width:700px;}
	.dv_on_data .li_title{float:left;width:680px;height:30px;}
	.dv_on_data .li_img{float:left;width:160px;height:80px;text-align:center;vertical-align:middle;}
	.dv_on_data .li_text{float:left;width:500px;height:80px;text-align:left;}
	.dv_on_data .dv_on_data_hori{height:1px;margin:10px;background-color:#dce5e8;}
	/* DV 온 - 노래방 */
	.karaoke #product_top{float:left;width:763px;height:115px;}
	.karaoke #product_top_img{float:left;width:258px;height:115px;}
	.karaoke #product_top_menu{float:left;width:432px;height:115px;}
	.karaoke #product_top_menu li{float:left;height:25px;margin-left:5px;margin-top:90px;}
	/* DV 온 - 유료채널 */
	.cashChannel #product_top{float:left;width:763px;height:200px;}
	.cashChannel #product_top_img{float:left;width:258px;height:200px;}
	.cashChannel #product_top_menu{float:left;width:432px;height:200px;}
	.cashChannel #product_top_menu li{float:left;height:25px;margin-left:5px;margin-top:170px;}
	/* DV 온 - 설치비용 */
	.dvSetupPrice #product_top{float:left;width:763px;height:130px;}
	.dvSetupPrice #product_top_img{float:left;width:560px;height:126px;}
	.dvSetupPrice table{width:660px;margin-bottom:20px;}
	.dvSetupPrice table thead th{height:20px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;}
	.dvSetupPrice table tbody th{width:280px;font-weight:bold;text-align:center;vertical-align:middle;border-right:1px solid #cacfdd;border-bottom:1px solid #cacfdd;}
	.dvSetupPrice table tbody td{width:400px;height:20px;padding-top:7px;text-align:center;border-bottom:1px solid #cacfdd;}
	.dvSetupPrice table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV 온 - 리모콘사용법 */
	.dv_on_remocon #product_top{float:left;width:763px;height:174px;}
	.dv_on_remocon #product_top_img{float:left;width:682px;height:174px;}
	/* DV 온 - 이용약관 */
	.dv_on_usage #product_top{float:left;width:763px;height:115px;}
	.dv_on_usage #product_top_img{float:left;width:670px;height:115px;}
	/* 케이블방송 - 보급형 */
	.cable1 #product_top{float:left;width:763px;height:115px;}
	.cable1 #product_top_img{float:left;width:238px;height:115px;}
	.cable1 #product_top_menu{float:left;width:432px;height:90px;}
	.cable1 #product_top_menu li{float:left;height:25px;margin-left:5px;margin-top:90px;}
	.cable1 table{width:660px;margin-bottom:20px;border-left:1px solid #cacfdd;}
	.cable1 table thead th{height:20px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;}
	.cable1 table tbody th{width:280px;font-weight:bold;text-align:center;vertical-align:middle;border-right:1px solid #cacfdd;border-bottom:1px solid #cacfdd;}
	.cable1 table tbody td{width:400px;height:20px;padding-top:7px;text-align:center;border-bottom:1px solid #cacfdd;}
	.cable1 table tfoot td{height:1px;background-color:#1c78bf;}
	.cable1 table .td1{border-right:1px solid #cacfdd;}
	.cable1 table .td2{border-right:1px solid #cacfdd;}
	.cable1 table .td3{border-right:1px solid #cacfdd;background-color:#edeef5}
	/* 케이블방송 - 설치비용 */
	.caSetupPrice #product_top{float:left;width:763px;height:115px;}
	.caSetupPrice #product_top_img{float:left;width:238px;height:115px;}
	.caSetupPrice #product_top_menu{float:left;width:432px;height:90px;}
	.caSetupPrice #product_top_menu li{float:left;height:25px;margin-left:5px;margin-top:90px;}
	.caSetupPrice table{width:660px;margin-bottom:20px;}
	.caSetupPrice table thead th{height:20px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;}
	.caSetupPrice table tbody th{width:280px;font-weight:bold;text-align:center;vertical-align:middle;border-right:1px solid #cacfdd;border-bottom:1px solid #cacfdd;}
	.caSetupPrice table tbody td{width:400px;height:20px;padding-top:7px;text-align:center;border-bottom:1px solid #cacfdd;}
	.caSetupPrice table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV 인 - 상품소개 */
	.in_intro{}
	.in_intro #product_top{float:left;width:763px;height:174px;}
	.in_intro #product_top_img{float:left;width:682px;height:174px;}
	.in_intro table{width:660px;margin-bottom:20px;border-left:1px solid #cacfdd;}
	.in_intro table thead th{height:25px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.in_intro table tbody td{height:60px;text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.in_intro table tfoot td{height:1px;background-color:#1c78bf;}
	.in_intro table .td1{width:170px;background-color:#FAF9F0;}
	.in_intro table .td2{width:270px;background-color:#FAF9F0;}
	.in_intro table .td3{width:110px;}
	.in_intro table .td4{width:110px;}
	/* DV 인 - 상품요금안내 */
	.in_price{}
	.in_price #product_top{float:left;width:763px;height:174px;}
	.in_price #product_top_img{float:left;width:682px;height:174px;}
	.in_price table{width:660px;margin-bottom:20px;border-left:1px solid #cacfdd;}
	.in_price table thead th{height:25px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.in_price table tbody th{width:160px;text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;background-color:#FAF9F0;}
	.in_price table tbody td{height:25px;padding-top:7px;text-align:center;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.in_price table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV 인 - KCTV유해차단서비스 */
	.in_block{}
	.in_block #product_top{float:left;width:763px;height:230px;}
	.in_block #product_top_img{float:left;width:682px;height:230px;}
	/* DV 인 - 이용약관 */
	.in_usage{}
	.in_usage #product_top{float:left;width:763px;height:115px;}
	.in_usage #product_top_img{float:left;width:682px;height:115px;}
	/* DV 폰 - 상품소개 */
	.phone_intro{}
	.phone_intro #product_top{float:left;width:763px;height:170px;}
	.phone_intro #product_top_img{float:left;width:682px;height:170px;}
	.phone_intro table{width:660px;margin-bottom:20px;border-left:1px solid #cacfdd;}
	.phone_intro table thead th{height:25px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.phone_intro table tbody td{height:60px;text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.phone_intro table tfoot td{height:1px;background-color:#1c78bf;}
	.phone_intro table .td1{background-color:#FAF9F0;}
	.phone_intro table .td1{background-color:#FAF9F0;}
	/* DV 폰 - 상품요금안내 */
	.phone_price{}
	.phone_price #product_top{float:left;width:763px;height:170px;}
	.phone_price #product_top_img{float:left;width:682px;height:170px;}
	.phone_price table{width:660px;margin-bottom:20px;border-left:1px solid #cacfdd;}
	.phone_price table thead th{height:25px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.phone_price table tbody th{text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;background-color:#FAF9F0;}
	.phone_price table tbody td{height:22px;padding-left:10px;padding-top:5px;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.phone_price table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV 폰 - 이용약관 */
	.phone_usage{}
	.phone_usage #product_top{float:left;width:763px;height:125px;}
	.phone_usage #product_top_img{float:left;width:682px;height:125px;}
	/* DV 아이 - 상품소개 */
	.eye_intro{}
	.eye_intro #product_top{float:left;width:763px;height:174px;}
	.eye_intro #product_top_img{float:left;width:682px;height:174px;}
	.eye_intro table{width:660px;margin-bottom:20px;border-left:1px solid #cacfdd;}
	.eye_intro table thead th{height:25px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.eye_intro table tbody th{height:70px;text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;background-color:#FAF9F0;}
	.eye_intro table tbody td{height:70px;text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.eye_intro table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV Set - 상품소개 */
	.set_intro{}
	.set_intro #product_top{float:left;width:763px;height:179px;}
	.set_intro #product_top_img{float:left;width:682px;height:179px;}
	/* DV Set - DPS */
	.set_dps{}
	.set_dps #product_top{float:left;width:763px;height:179px;}
	.set_dps #product_top_img{float:left;width:682px;height:179px;}
	.set_dps table{width:660px;margin-bottom:20px;border-left:1px solid #cacfdd;}
	.set_dps table thead th{height:25px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.set_dps table tbody th{text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;background-color:#FAF9F0;}
	.set_dps table tbody td{height:20px;padding-top:5px;text-align:center;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.set_dps table tbody .td1{vertical-align:middle;padding-top:0px;}
	.set_dps table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV Set - TPS */
	.set_tps{}
	.set_tps #product_top{float:left;width:763px;height:179px;}
	.set_tps #product_top_img{float:left;width:682px;height:179px;}
	.set_tps table{width:660px;margin-bottom:20px;border-left:1px solid #cacfdd;}
	.set_tps table thead th{height:25px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.set_tps table tbody th{text-align:center;vertical-align:middle;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;background-color:#FAF9F0;}
	.set_tps table tbody td{height:20px;padding-top:5px;text-align:center;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.set_tps table tbody .td1{vertical-align:middle;padding-top:0px;}
	.set_tps table tfoot td{height:1px;background-color:#1c78bf;}
	/* DV Set - 이용약관 */
	.set_usage{}
	.set_usage #product_top{float:left;width:763px;height:125px;}
	.set_usage #product_top_img{float:left;width:682px;height:125px;}
	/* 광고안내 - 광고안내 */
	.ad_intro{}
	.ad_intro #product_top{float:left;width:763px;height:112px;}
	.ad_intro #product_top_img{float:left;width:623px;height:112px;}
	.ad_intro table{width:660px;border-left:1px solid #cacfdd;}
	.ad_intro table thead th{height:25px;padding-top:7px;font-weight:bold;text-align:cetner;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.ad_intro table tbody th{height:20px;padding-left:5px;padding-top:5px;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.ad_intro table tbody td{height:20px;padding-left:5px;padding-top:5px;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.ad_intro table tbody .td1{text-align:center;}
	.ad_intro table tbody .td2{text-align:center;vertical-align:middle;}
	.ad_intro table tfoot td{height:1px;background-color:#1c78bf;}
	/* 광고안내 - 광고문의 */
	.ad_request{}
	.ad_request #product_top{float:left;width:763px;height:112px;}
	.ad_request #product_top_img{float:left;width:623px;height:112px;}
	.ad_request table{width:660px;border-left:1px solid #cacfdd;}
	.ad_request table caption{text-align:left;padding:5px;}
	.ad_request table thead th{padding:5px;font-weight:bold;text-align:left;background-color:#edeef5;color:#5e658e;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.ad_request table thead td{padding:5px;text-align:left;border-top:2px solid #1c78bf;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.ad_request table tbody th{padding:5px;font-weight:bold;text-align:left;background-color:#edeef5;color:#5e658e;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;vertical-align:middle;}
	.ad_request table tbody td{padding:5px;text-align:left;border-bottom:1px solid #cacfdd;border-right:1px solid #cacfdd;}
	.ad_request table tbody .td1{text-align:center;}
	.ad_request table tbody .td2{text-align:center;vertical-align:middle;}
	.ad_request table tfoot td{height:1px;background-color:#1c78bf;}