/*  text */
td,table,tr{font-family:±¼¸²; font-size: 12px; COLOR: #3B3B3B; line-height: 170%;word-break:keep-all}
img {border:0}



/*  */
A:active{font-family: "±¼¸²";font-size: 12px; color: #565656;text-decoration: none;}
A:visited{font-family: "±¼¸²";font-size: 12px; color: #565656; text-decoration: none;}
A:hover {font-family: "±¼¸²";font-size: 12px;color: 2E6185; text-decoration: none;}
a:link{font-family: "±¼¸²";font-size: 12px; color: #565656; text-decoration: none;}

/*    */
A.sub_l:link {font-family: "±¼¸²"; font-size:12px; text-decoration:none;letter-spacing:-1px; color:#535353};
A.sub_l:visited {font-family: "±¼¸²"; font-size:12px; text-decoration:none;letter-spacing:-1px; color:#535353};
A.sub_l:active {font-family: "±¼¸²"; font-size:12px; text-decoration:none; letter-spacing:-1px; color:#535353};
A.sub_l:hover {font-family: "±¼¸²"; font-size:12px; text-decoration:none;letter-spacing:-1px; color:#169E39};

/*    */
A.sub:link {font-family: "±¼¸²"; font-size:11px; text-decoration:none;letter-spacing:-1px; color:#5D5D5D};
A.sub:visited {font-family: "±¼¸²"; font-size:11px; text-decoration:none;letter-spacing:-1px; color:#5D5D5D};
A.sub:active {font-family: "±¼¸²"; font-size:11px; text-decoration:none; letter-spacing:-1px; color:#5D5D5D};
A.sub:hover {font-family: "±¼¸²"; font-size:11px; text-decoration:none;letter-spacing:-1px; color:#56868C};

/*  */
A.nav:link {font-family: "±¼¸²"; font-size:11px; text-decoration:none;letter-spacing:-1px; color:#9C9C9C};
A.nav:visited {font-family: "±¼¸²"; font-size:11px; text-decoration:none;letter-spacing:-1px; color:#9C9C9C};
A.nav:active {font-family: "±¼¸²"; font-size:11px; text-decoration:none; letter-spacing:-1px; color:#9C9C9C};
A.nav:hover {font-family: "±¼¸²"; font-size:11px; text-decoration:none;letter-spacing:-1px; color:#5C897F};

/*  */
A.cal:link {font-family: "±¼¸²"; font-size:10px; text-decoration:none;letter-spacing:-1px; color:#85857C};
A.cal:visited {font-family: "Arial, Helvetica, sans-serif"; font-size:10px; text-decoration:none;letter-spacing:-1px; color:#85857C};
A.cal:active {font-family: "Arial, Helvetica, sans-serif"; font-size:10px; text-decoration:none;letter-spacing:-1px; color:#85857C};
A.cal:hover {font-family: "Arial, Helvetica, sans-serif"; font-size:10px; text-decoration:none;letter-spacing:-1px; color:#1BA600};

/**/
.form_01 {
	FONT-SIZE: 12px;
	COLOR: #5D5D5D;
	face: ±¼¸²;
	font-family: "±¼¸²";
	background-color: #ffffff;
	border: 1px solid C6CDD4;
	line-height: 140%;

}

.form_02 {
	FONT-SIZE: 12px;
	COLOR: #5D5D5D;
	font-family: "±¼¸²";
	background-color: #ffffff;
	border: 1px solid CDCDC0;
	line-height: 150%;

}

.form_03 {
	FONT-SIZE: 11px;
	COLOR: #4B4B48;
	face: ±¼¸²;
	font-family: "±¼¸²";
	border: 1px solid D2D6DF;

}

.form_04 {
	FONT-SIZE: 9pt;
	COLOR: #5D5D5D;
	face: ±¼¸²;
	font-family: "±¼¸²";
	background-color: #F7F9F7;
	border: 1px solid #C5D6B9;

}
.form_05 {

	FONT-SIZE: 9pt;
	COLOR: #5D5D5D;
	face: ±¼¸²;
	font-family: "±¼¸²";
	background-color: #ffffff;
	border: 1px solid #b8c7d7;
}


/**/
.font01 {
	FONT-SIZE: 12px;
	COLOR: #555555;
	face: ±¼¸²;
	font-family: "±¼¸²";
	line-height: 160%;


}

/*2*/
.font02 {
	FONT-SIZE: 14px;
	COLOR: #000000;
	font-family: "±¼¸²";
	letter-spacing:-1px;

}

/*3*/
.font03 {
	FONT-SIZE: 11px;
	COLOR: #9C9C9C;
	font-family: "±¼¸²";
	letter-spacing:-1px;

}

/*4*/
.font04 {
	FONT-SIZE: 14px;
	COLOR: #ffffff;
	font-family: "±¼¸²";
	letter-spacing:-1px;

}


/*5*/
.font05 {
	FONT-SIZE: 14px;
	COLOR: #669933;
	font-family: "±¼¸²";
	letter-spacing:-1px;

}
/*6*/
.font06 {
	FONT-SIZE: 11px;
	COLOR: #6B6B6B;
	face: ±¼¸²;
	font-family: "±¼¸²";

}


/*7*/
.font07 {
	FONT-SIZE: 11px;
	COLOR: #6B6B6B;
	face: ±¼¸²;
    BACKGROUND-COLOR: #EAEDF4;
	font-family: "±¼¸²";

}


/*8*/
.font08 {
	FONT-SIZE: 11px;
	COLOR: #7D8443;
	face: ±¼¸²;
    BACKGROUND-COLOR: #FBFFDA;
	font-family: "±¼¸²";

}


/*9*/
.font09 {
	FONT-SIZE: 11px;
	COLOR: #0D5C05;
	face: ±¼¸²;
    BACKGROUND-COLOR: #EFF9E6;
	font-family: "±¼¸²";

}

/*10*/
.font10 {
	FONT-SIZE: 11px;
	COLOR: #316192;
	font-family: "±¼¸²";

}

/*11*/
.font11 {
	FONT-SIZE: 12px;
	COLOR: #419B43;
	face: ±¼¸²;
    BACKGROUND-COLOR: #F2F7F2;
	font-family: "±¼¸²";

}
.font12 {
	FONT-SIZE: 11px;
	COLOR: #9C9C9C;
	font-family: "±¼¸²";
	letter-spacing:-1px;
	line-height: 130%;

/*1*/
.hr01 {
	color: #CCCCCC;
}
.hr {
	color: #ebebeb;
}


BODY
{ 
scrollbar-face-color:#eeeeee;
scrollbar-shadow-color:#9A9A9A;
scrollbar-highlight-color:#9A9A9A;
scrollbar-3dlight-color:#FFFFFF; 
scrollbar-darkshadow-color:#FFFFFF;
scrollbar-track-color:#f6f6f6;
scrollbar-arrow-color:#9A9A9A;
}

.cursor {cursor:hand;} 
.fontl {

	FONT-SIZE: 15px;
	face: ±¼¸²;
	font-family: "±¼¸²", "±¼¸²Ã¼";
	line-height: 140%;
}
.fontl01 {


	FONT-SIZE: 13px;
	COLOR: 449A7C;
	face: ±¼¸²;
	font-family: "Arial", "Helvetica", "sans-serif";
	line-height: 150%;
}
.button_1{
	FONT-SIZE: 11px;
	border-color:#B0B0B0;
	background-color:#666666;
	color:#FFFFFF;
	font-weight:normal;
	padding-bottom:10;
	
	height:18;
}.txtjustify {
	font-family: "±¼¸²", "±¼¸²Ã¼";
	font-size: 12px;
	line-height: 150%;
	text-decoration: none;
	text-align: justify;
}
.fontlarge {

	FONT-SIZE: 14px;
	face: ±¼¸²;
	font-family: "±¼¸²";
	line-height: 150%;
}
.calender01 {

	FONT-SIZE: 11px;
	face: ±¼¸²;
	font-family: "±¼¸²";
	color:  #555555;
	line-height: 130%;
}

/**/
.cursor {
	cursor:hand;
	}
